* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
}

#content {

}

#searchDiv {
    background-color: black;

    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    border: 0px solid #07a3c8;
    padding: 10px;
}

#cardsContainer {
    display: flex;
    width: 900px;
    margin: auto;
    
    
    
}   

#tempContainer {
    margin-top: 25%;
}

.temps {
    display: inline-block;
    padding: 5px;
}

#currentTemp {
    font-size: 80px;
}

#highTemp {
    color: red;
}

#lowTemp {
    color: blue;
}


#card1Container {
    margin-top: 35%;
}

#card2Desc {
    margin-top: 35%
}
.searchDivContents {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.cards {
    flex: 1;
    display: inline-block;
    width: 250px;
    height:250px;
    
    border: 0px solid green;
    padding: 10px;
    margin-left: 20px;

    text-align: center;
    font-size: 25px;
    
    color: black;

    border-radius: 8px;

    background-color: #65ccff;
}

#header {
    background-color: #65ccff;
    border-color: white;
    border-radius: 8px;

    width: 50%;
    margin: auto;
    margin-top: 20px;

    text-align: center;
    font-size: 25px;
    padding: 20px;

}

#searchDiv {
    display: flex;
}

#userInput {
    background-color: black;
    border: none;

    color: white;
    font-size: 25px;

    
}

#searchBtn {
    background-color: black;
    border: 2px solid #07a3c8;
    
    color: white;
    font-size: 25px;
}


#card1 {
}




#footer {
    background-color: #65ccff;

    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}

#footerText {
    padding: 10px;
}